<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="../../ui/book/all" class="nav-link px-2 text-white">Книги</a></li>
                    <li><a href="../../ui/reader/all" class="nav-link px-2 text-white">Читатели</a></li>
                    <li><a href="../../ui/issue/all" class="nav-link px-2 text-white">Выданные книги</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>

</body>
</html>